{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
  ecron
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [htpcron]}
]}.

{relx, [{release, {htpcron, "0.0.1"},
         [htpcron]},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.